<!DOCTYPE html>
<html>
  <head>
    <title>Bowling</title>
  </head>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="src/player.js"></script>
  <script src="src/game.js"></script>
  <script src="src/interfaceyboi.js"></script>
  <link rel="stylesheet" href="src/styles.css"> 
  <body class="centered-wrapper">
    <section>
      <h1>Bowling!</h1>
    </section>

    <table style="width:50%" border="0">
  <tr>
    <th></th>
    <th>Rounds</th> 
  </tr>
  <tr>
  <td>Liam</td>
    <th>
    	<div style="display: flex;">
    		<table style="width:100" border="1">
            	<tr>
    				<th><span id="1-1">0</span></th>
            		<th><span id="1-2">1</span></th>
                </tr>
                <tr><th colspan="2"><span id="1-t">2</span></th></tr>
    		</table>
            <table style="width:100" border="1">
            	<tr>
    				<th><span id="2-1">0</span></th>
            		<th><span id="2-2">1</span></th>
                </tr>
                <tr><th colspan="2"><span id="2-t">2</span></th></tr>
    		</table>
            <table style="width:100" border="1">
            	<tr>
    				<th><span id="3-1">0</span></th>
            		<th><span id="3-2">1</span></th>
                </tr>
                <tr><th colspan="2"><span id="3-t">2</span></th></tr>
    		</table>
            <table style="width:100" border="1">
            	<tr>
    				<th><span id="4-1">0</span></th>
            		<th><span id="4-2">1</span></th>
                </tr>
                <tr><th colspan="2"><span id="4-t">2</span></th></tr>
    		</table>
            <table style="width:100" border="1">
            	<tr>
    				<th><span id="5-1">0</span></th>
            		<th><span id="5-2">1</span></th>
                </tr>
                <tr><th colspan="2"><span id="5-t">2</span></th></tr>
    		</table>
            <table style="width:100" border="1">
            	<tr>
    				<th><span id="6-1">0</span></th>
            		<th><span id="6-2">1</span></th>
                </tr>
                <tr><th colspan="2"><span id="6-t">2</span></th></tr>
    		</table>
            <table style="width:100" border="1">
            	<tr>
    				<th><span id="7-1">0</span></th>
            		<th><span id="7-2">1</span></th>
                </tr>
                <tr><th colspan="2"><span id="7-t">2</span></th></tr>
    		</table>
            <table style="width:100" border="1">
            	<tr>
    				<th><span id="8-1">0</span></th>
            		<th><span id="8-2">1</span></th>
                </tr>
                <tr><th colspan="2"><span id="8-t">2</span></th></tr>
    		</table>
            <table style="width:100" border="1">
            	<tr>
    				<th><span id="9-1">0</span></th>
            		<th><span id="9-2">1</span></th>
                </tr>
                <tr><th colspan="2"><span id="9-t">2</span></th></tr>
    		</table>
            <table style="width:100" border="1">
            	<tr>
    				<th><span id="10-1">0</span></th>
            		<th><span id="10-2">1</span></th>
                    <th><span id="10-3">3</span></th>
                </tr>
                <tr><th colspan="3"><span id="10-t">2</span></th></tr>
    		</table>
    	</div>
    </th>
  </tr>
</table>
<p> 
test <br>
<span id="TEST1"></span>
</p>
  </body>
</html>