<!DOCTYPE html>
<html>
  <head>
    <title>Bowling</title>
  </head>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="src/thermostat.js"></script>
  <script src="src/interface.js"></script>
  <link rel="stylesheet" href="src/styles.css"> 
  <body class="centered-wrapper">
    <section>
      <h1>Bowling!</h1>
    </section>
  </body>
</html>