<!DOCTYPE html>
<html>
  <head>
    <title>Bowling</title>
  </head>
  <link rel="stylesheet" href="src/styles.css"> 
  <body class="centered-wrapper">
    <section>
      <h1>Bowling Setup!</h1>
      <div class="inner">
        <form class="form" action="/setup" method="post" accept-charset="utf-8">
          <label for="Info">Users:</label>
          <input type="players" name="players" id="players" maxlength="36" required="true"  /><br>
          <input type="submit" value="Finish Configuration">
        </form>
      </div>
    </section>
  </body>
</html>